.table-container {
  overflow-x: auto;
  max-height: 70vh;
  max-width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: fit-content;
  min-width: 100px;
  white-space: nowrap;
}


th {
  background-color: #f4f4f4;
  white-space: nowrap;
  min-width: fit-content;
}

.table-warning {
  background-color: #f2e5c3;
}

.table-danger {
  background-color: #f2c3c3;
}

.btn-danger {
  background-color: #f2c3c3;
  border-color: #f2c3c3;
  color: dark;
}